@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
}

.button-ripple {
  position: relative;
  overflow: hidden;
}

.button-ripple:active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
}